:root{
  /*COLOR PALETTE*/
  --darkblue: #0d0826;
  --medblue: #171038;
  --linkcolor:#ff0076;
  --babyblue:#abb2ce;
  --brightblue:#241d5e;
  /* -------------------- */
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  flex-wrap:wrap;
  width: fit-content;
  height: fit-content;
  padding: 2rem;

  font-size: 100%;

  margin-top: 2rem;
  border-radius: 20px;
  background-color: rgb(23 16 56);

  text-align: center;
}
.intro-box > p {
  padding: 5px;
  margin: 0;
}

@media (max-width: 450px) {
 .intro-box {
   font-size: 85%;
 }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-img {
  width: 25px;
  height: 25px;
  padding: 10px;
  padding-bottom: 0;
}
.icon-img:hover {
  opacity: 0.7;
}


.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  aspect-ratio: 1/1;

  padding:1.5rem;
  margin-bottom: 10px;


  border-radius: 20px;
  background-color: var(--darkblue);
}




.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  justify-self: center;
  column-gap: 30px;
  padding: 1rem;

  width: fit-content;
  height: fit-content;
}
.skills-container img {
  height: 70px;
  width: 100%;
  border-radius: 0;
}
.skill img:hover {
  scale: 110%;
  filter: brightness(120%);
}.skill:hover {
  scale: 110%;
  filter: brightness(120%);
}
@media (max-width: 650px) {
  .skill {
    max-width: 80px;
    width: 60px;
    max-height: 60px;
    aspect-ratio: 1/1;
    padding-top: 2rem;
    font-size: 90%;
  }

  .skill img {
    height: 40px;
    width: 40px;
  }
}


.tech-art-button {
  border-radius: 20px;
  width: 200px;
  font-size: 150%;
  background-color: var(--brightblue);

  border: 1px solid var(--babyblue);

}
.tech-art-button:hover {
  scale: 110%;
  background-color: var(--linkcolor);
  cursor: pointer;
}
