:root{
  /*COLOR PALETTE*/
  --darkblue: #0d0826;
  --medblue: #171038;
  --linkcolor:#ff0076;
  --babyblue:#abb2ce;
  --babybluedark:#878da3;
  --brightblue:#241d5e;
  --titlebarcolor: rgb(36 29 94 /.8);
  /* -------------------- */

}

.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;


  margin: 10px;

  width: 60vw;
  height: fit-content;
  padding: 2rem;

  border-radius: 20px;
  background-color: rgb(23 16 56 / 0.95);
}
.container-fluid > img {
  max-width: 100%;
}
.container-fluid > p{
  text-align: justify;

  font-size: 115%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 500px) {
  .container-fluid > p {
    text-align: left;
  }
  .container-fluid {
    width: 70vw;
  }
  .wrapped-container > p{
    margin-left: 25px;
    margin-right: 40px;
    text-align: left;
  }
  details > p {
    text-align: left;
  }
  details > summary > h2 {
    font-size: 115%;
  }

  pre > code {
    font-size: 70%;
  }
}

.project-title-img {
  justify-content: center;
  max-width: 80vw;
}

.container-fluid > iframe {
  max-width: 100%;
}


.bkg-image {
  position:fixed;
  top: 0;
  left: 0;
  z-index: -1;

}
.bkg-image img {
  filter: blur(10px);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}
a {
  color: var(--linkcolor);
}

.video-container {
  width: 100%;
  height:100%;
  max-width: 800px; /* Optional: limits max size */
  aspect-ratio: 16 / 9;

}
.video-container iframe {
  width: 100%;
  height: 100%;

}
iframe {
  border-radius: 20px;
}

.store-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  column-gap: 30px;
  padding: 2rem;
}
.store-link-container img {
  height: 50px;
  width: 100%;
  border-radius: 0;
}
.store-link-container img:hover {
  scale: 110%;
  filter: brightness(150%);
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.horizontal > img {
  max-width: 50%;
  min-width: 250px;
  padding-bottom: 10px;
}

.wrapped-container > p {
  padding-left: 1rem;
  font-size: 115%;
}

.wrapped-image {
  float: right;
  margin-left: 30px; /* Space between image and text */
  margin-bottom: 10px;
  max-width: 100%;
}
.wrapped-image-left {
  float: left;
  margin-right: 30px; /* Space between image and text */
  margin-bottom: 10px;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  gap: 10px;
}
.grid > img {
  max-width: 100%;
  max-height: 100%;
}

h2{
  margin-bottom: 10px;
  text-align: left;
}
p{
  margin-top: 10px;
}


img{
  border-radius: 15px;
}

details {

  display: flex;
  flex-direction: column;
  overflow: hidden;

  list-style: none; /* Works in most browsers */

  margin-top: 20px;
  width: 100%;
  text-align: justify;

  padding: 10px;

}
details > summary {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--babyblue);
  display: flex;
  column-gap: 5px;
  cursor: pointer;

  font-size: 100%;
}
details > summary > h2 {
  margin:0;
  text-align: left;
}
details > p{
  font-size: 115%;
  padding-left: 20px;
  padding-right: 20px;
}
details > img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*  Remove the arrow for Safari specifically */
summary::-webkit-details-marker {
  display: none;
}

/*  Add your own custom arrow using a pseudo-element */
.collapsible-header::before {
  content: '';
  background-image: url("/assets/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: 0.2rem;
  transition: transform 0.2s ease;
  transform: rotate(90deg);
}

/*Rotate the arrow when the details are open */
details[open] .collapsible-header::before {
  transform: rotate(180deg);
}

/* Enable animation to 'auto' for the whole page */
:root {
  interpolate-size: allow-keywords;
}

/* Animate the content when the details state changes */
details::details-content {
  transition: opacity 0.2s ease, block-size 0.2s ease, content-visibility 0.2s ease;
  transition-behavior: allow-discrete;
  block-size: 0;
  overflow: hidden; /* Required for height animation */
  opacity: 0;
}

/* Define the open state styles */
details[open]::details-content {
  block-size: auto;
  overflow: hidden;
  opacity: 1;
}

pre {
  margin: 0;
}

pre > code {
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0;
  margin-top: -35px;
  max-width: 100%;
  margin-bottom: -35px;
}

.accordion > details {}

.accordion > details > summary {
  background: var(--brightblue);
  height: 100%;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  font-size: 75%;
}
.accordion > details[open] > summary {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.accordion > details > summary::after {
  content: '';
  background-image: url("/assets/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  transition: transform 0.2s ease;

}


/*Rotate the arrow when the details are open */
.accordion > details[open] > summary::after {
  transform: rotate(180deg);
}

